@import url('https://fonts.googleapis.com/css2?family=Cossette+Titre:wght@400;700&display=swap');

:root {
    --tone-100: #000000;
    --tone-200: #222222;
    --tone-300: #5b5c57;
    --tone-400: #e3e4d8;
    --tone-500: #fe0100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Cossette Titre', sans-serif;
    background-color: var(--tone-100);
    color: var(--tone-400);
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, p {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
}

h1 {
    font-size: 6rem;
    letter-spacing: -0.1rem;
}

p {
    font-size: 3rem;
    letter-spacing: -0.25rem;

}

nav {
    position: fixed;
     width: 100%;
     padding: 2rem;
     display: flex;
     justify-content: space-between;
     mix-blend-mode: difference;
     z-index: 10;
}

nav p {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--tone-400);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

section h1{
    width: 75%;
}

 /*Tablet */
@media (max-width: 1024px) {
  section h1 {
    font-size: 32px;
  }
}

/* Small tablet */
@media (max-width: 768px) {
  section h1 {
    font-size: 26px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  section h1 {
    font-size: 20px;
  }
}